{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
</div>
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}

