{% extends 'base.html.twig' %}


{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include ('admin/propertyOption/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}


