{%  extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gére les biens</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for option in propertyOptions %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('admin.propertyOption.edit', {'id': option.id}) }}" class="btn btn-secondary">Editer</a>
                        <form action="{{ path('admin.propertyOption.delete', {id: option.id}) }}" method="POST" style="display: inline-block" onsubmit="return confirm('Continuer ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.propertyOption.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
    </div>
{% endblock %}