{%  extends 'base.html.twig' %}

{% block title %}Mon Agence{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la homepage</h1>
        <p>She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time! You mean it controls your actions?</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                {% include 'property/property.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}