{% extends 'base.html.twig' %}

{% block title %}Créer un bien{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau bien</h1>
        {{ include ('admin/property/_form.html.twig', {form: form, button: 'Creer'}) }}
    </div>
{% endblock %}

