{%  extends 'base.html.twig' %}

{% block title %}Mes biens{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(searchForm) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(searchForm.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(searchForm.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(searchForm.options) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">{{ button|default('Rechercher') }}</button>
                </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1>Liste des biens</h1>
        <div class="row">
            {% for property in properties %}
                {% include 'property/property.html.twig' %}
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}