<div class="col-3">
    <div class="card mb-4">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path('property.show', {'id': property.id, 'slug': property.slug}) }}">{{ property.title }}</a>
            </h5>
            <p class="card-text">{{ property.surface }}m² - {{ property.city }} ({{ property.postalCode }})</p>
            <div class="text-warning" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }} €</div>
            <a href="{{ path('property.show', {'id': property.id, 'slug': property.slug}) }}" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>

